@media only screen and (min-width: 751px){
    .mobile-navi{
	display:none;
	}	 
}
@media only screen and (min-width: 751px)and (max-width: 1020px){
	div.mainheader1 input {
		width: 60px;
		height:20px;
    }
}
@media only screen and (max-width: 750px) and (min-width: 320px){
	.mobile-navi{
		display: block;
	}
	.main-header-navi{
		display:none;
	}
}
body {
	padding:0;
	margin:0;
	font-size: 80%;
}
img{
	max-width:100%;
}
.top-line {
	width: 100%;
	padding: 5px 0 5px 0;
	}
.top-line p {
text-align: center;	
margin: 0;
color: #4863A0
}
div.top-line a {
	background: url("../images/close.png") no-repeat 0 0;
	height:15px;
	width:15px;
	position: absolute;
	top:3px;
	right:10px;
}
div.navi {
	background-color: #f08080;
	height: 30px;
	width: 100%;
	border-bottom: 0.5px solid #4863A0;
}
div.intro a {
	color:#4863A0;
}
div.navi ul {	
	margin:0;
}
div.top-left-nav li {
    float:left;
	display: inline;
	padding:6px;
}
li a#signup {
	color: white;
}
div.language-selector {
	float:right;
	margin:6px;
	color:#4863A0;
	padding-right: 20px;
}
div.language-selector span {
	color: white;
	border-right: 1px solid #4863A0;
	padding-right: 5px;
}
div.language-selector a {
	padding-left: 5px;
}
div.signing {
	float:right;
	padding-right: 20px;
	margin: 6px;	
}
div.mini-cart {
	float:right;
	padding-top: 6px;
    padding-right: 6px;
}
a {
	text-decoration: none;
}
div a:hover {
	color: white;
}
div.mainheader {
	background-color:#f08080;
	color: #4863A0;
}

div.mainheader1 h1 {
	text-align: center;
	Font-size:40px;
	letter-spacing: 20px;
	margin: 0;
	
}
.mainheader1 .search-form{
	position: absolute;
    right: 20px;
    top: 70px;
}
div.mainheader1 input {
	padding-right: 50px;
}
.mainheader2 .navigation {
	margin: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}
div.mainheader2 .navigation a {
	padding-right: 65px;
	font-weight: bold;
    font-size: 15px
}

.content {
	display: inline-block;
}
.content .dropdown-list{
	display:none;
	position: absolute;
	background: white;
    z-index: 3;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}
.expanded .dropdown-list {
	display: block;	
}
.content .dropdown-list ul {
	list-style:none;
	margin: 0px;
	padding: 15px 0 0 0;
	text-align: left;
}
div.dropdown-list li  {
	line-height: 1.7;
}
div.dropdown-list li:hover  {
	background-color:#f08080;
}
div.dropdown-list li a  {
	padding: 5px 0px 0px 15px;
}
div.jcarousel {
	width: 1349px;
	overflow: hidden;
}
div.jcarousel ul{
	list-style: none;
	display: inline-block;
	padding: 0px;
	width: 100%;
	top: 0px;
	left: 0px;
	position: relative;
	margin:0;
}
div.jcarousel .listitem {
	width: 1349px;
	height: 500px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    float: left;
}
div.jcarousel .listitem img{
	width: 100%;
	height: 100%
}
.footer-main{
	padding:0px 20px 10px 120px;
	background-color:#f08080;
	color: #4863A0;
}
.footer-main a{
	color: #4863A0;
}
div.footer-element {
	float:left;
	width:22%;
	padding-top: 30px;
}
div.footer-main ul {
	list-style: none;
	font-size: 15px;
	padding-left: 0px;
}
div.footer-main:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
   }
div.footer-right a{
	margin-right: 10px;
}
.ham-burger-icon {
	position: relative;
    padding-left: 1em;
}
.ham-burger-dropdown-list {
	display:none;
	position: absolute;
	top: 5em;
	left: 1em;
    width: 160px;
	background:#f08080;
	color: #4863A0;
    z-index: 3;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}
.ham-burger-dropdown-list ul {
	list-style:none;
	margin: 0px;
	padding: 15px 0 0 0;
	text-align: left;
}
.mobile-navi-main .ham-burger-dropdown-list li {
	width:100%;
}
.expanded .ham-burger-dropdown-list {
	display: block;	
}
.mobile-navi-main li.ham-burger-menu{
    width: 10%;	
}
.ham-burger-icon:before {
	content: "";
  	position: absolute;
  	top: 0.25em;
  	left: 0;
  	width: 1em;
  	height: 0.125em;
  	border-top: 0.5em double #4863A0;
  	border-bottom: 0.2em solid #4863A0;
  	margin-left: 2px;
}
.mobile-navi-main li{
	display: inline-block;
	padding: 15px 3px 0 3px;
	float: left;
	width: 19%;	
	height: 30px;
	font-size: medium;
	text-align: center;
}
.mobile-navi-main:after{
	 content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.mobile-navi-main {
	background-color:#f08080;
}
.mobile-header h1 {
	text-align: center;
	color:#4863A0;
	background-color:#f08080;
	border-top: 1px solid #4863A0;
	margin: 0px;
    padding: 10px;
}
.divider-left {
	border-right: 1px solid #4863A0;
}